

/* ----------------------------------------------------
	You can put your custom css code here:
-------------------------------------------------------*/
.testimonial__details{
	padding-bottom: 2rem;
}

.none{
	display: none;
}

.alert__info{
	display: grid;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100vw;
	margin: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s;
}

.alert__info.open{
	opacity: 1;
	pointer-events: all;
}

.transition{
	transition: 0.5s all;
}