
#loading{
    display: block; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
     height: 100vh; 
     background-color: rgba(192, 192, 192, 0.5);
     background-image: url("loader2.gif");
     background-repeat: no-repeat; 
     background-position: center;
     display: none;
}
#signuploading{
    display: block; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
     height: 100vh; 
     background-color: rgba(192, 192, 192, 0.5);
     background-image: url("loader2.gif");
     background-repeat: no-repeat; 
     background-position: center;
     display: none;
}

#runLoader{
    display: block; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
     height: 100vh; 
     background-color: rgba(192, 192, 192, 0.5);
     background-image: url("loader2.gif");
     background-repeat: no-repeat; 
     background-position: center;
     display: none;
}

#runLoader1{
    display: block; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
     height: 100vh; 
     background-color: rgba(192, 192, 192, 0.5);
     background-image: url("loader2.gif");
     background-repeat: no-repeat; 
     background-position: center;
     display: none;
}





























































